.main {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 12px;
  font-size: 16px;

  &:hover {
    // если навели
    background-color: rgb(250, 250, 250);
  }

  &:focus {
    // если кликнули по инпуту
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.4; // непрозрачность
  position: absolute;
  left: 14px;
  top: 12px;
}

.iconClear {
  position: absolute;
  right: 15px;
  top: 8px;
  width: 32px;
  height: 32px;
  opacity: 0.4;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
